.spell-form{
	background: no-repeat url('../../../img/sheets/background.jpg');
	color: var(--base-text-color);
}

.spell-container{
	background-color: var(--gray-fade50);
	min-height: 500px;
}

.spell-img{
	width: 128px;
	height: 128px;

	border: 1px solid var(--primary);
	border-radius: 5px;
}

.detail-header{
	text-align: center;
	font-size: 1.1em;
	color: white;
	background: var(--primary-fade50);
	border-radius: 5px 5px 0px 0px;
	padding: 3px;
	border: 1px solid var(--tertiary-fade50);
	margin-left: 10px;
	margin-right: 10px;
}
