#chat-log .message{
	background: url('../img/sheets/chatscroll.png');
	background-size: cover;
	color: white;
	border: 3px inset var(--primary);
	border-radius: 0px 10px 10px 10px;
	padding: 0px;
}

#chat-log .message-header{
	background: var(--primary-fade50);
	padding: 0px;
	border-bottom: 2px groove var(--tertiary-fade50);
}

#chat-log li.message header h4.message-sender{
	color: white;
	text-align: center;
}

#chat-log .message-timestamp{
	color : lightgray;
}

#chat-log .message-delete{
	color: red;
}

#chat-log .message-metadata{
	padding: 2px;
}

.chat-row{
	display: flex;
	border-bottom: 1px solid var(--tertiary-fade50);
	padding: 3px;
	line-height:24px;
	align-items: center;
}

.chat-row:last-child{
	border-bottom: 0px;
}

.chat-row-last{
	display: flex;
	border-bottom: none;
	padding: 3px;
}

.cell-center{
	text-align : center
}

.chat-cell-1{
	width: 0;
	flex: 1 1 auto;
}

.chat-cell-2{
	width: 0;
	flex: 3 3 auto;
}

.chat-cell-3{
	width: 0;
	flex: 3 3 auto;
}

.chat-cell-half{
	width: 0;
	flex: .5 .5 auto;
}

.chat-card{
	padding: 3px;
}

.card-title{
	font-size: 18px;
	text-align: center;
	padding: 4px;
}

.card-subtitle{
	text-align: center;
	padding: 5px;
}

.chat-image{
	border: 1px solid var(--primary);
	border-radius: 5px;
}


.chat-button{
	background: var(--secondary-fade50);
	color: white;
	font-weight: 400;
	font-size: 22px;
	border: 1px solid black;
}

.chat-value{
	color: white;
	background: var(--secondary);
	border-radius: 5px;
	padding: 3px;
	border:1px solid black;
	text-shadow: 0px 0px 5px black;
}

.chat-hit-description{
	font-weight: bolder;
	font-size: 1.1em;
	color: var(--success);
}

.chat-epic-description{
	color: var(--epic-success);
}

.chat-heroic-description{
	color: var(--heroic-success);
}

.chat-legendary-description{
	color: var(--legendary-success);
}

.chat-miss-description{
	color: var(--fail);
}

.meta-data-title{
	color: var(--tertiary);
}


.roll-hit{
	border: 1px solid lightgreen !important; 
}

.roll-crit-hit{
	border: 1px solid lightgreen !important; 
	color: lightgreen !important;
	text-shadow: 0 0 0.5em green, 0 0 0.5em green, 0 0 0.5em green;
}

.roll-crit-miss{
	border: 1px solid red !important; 
	color: red !important;
	text-shadow: 0 0 0.5em crimson, 0 0 0.5em crimson, 0 0 0.5em crimson;
}

.die-list{
	display: inline-flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}

.d4Roll, .d6Roll, .d8Roll, .d10Roll, .d12Roll, .d20Roll{
	background-size: contain;
	background-color: var(--secondary);
	background-position: center;
	background-repeat: no-repeat;

	min-width: 40px;
	line-height: 25px;
	text-align: center;
	color: black;
	border: 1px solid black;
	margin: 3px;

	border-radius: 5px;
	font-size: 18px;
	font-weight: 600;
}


.d4Roll  {
	background-image: url("../icons/dice/d4-grey.svg");
}

.d6Roll  {
	background-image: url("../icons/dice/d6-grey.svg");
}

.d8Roll {
	background-image: url("../icons/dice/d8-grey.svg");
}

.d10Roll  {
	background-image: url("../icons/dice/d10-grey.svg");
}

.d12Roll  {
	background-image: url("../icons/dice/d12-grey.svg");
}

.d20Roll {
	background-image: url("../icons/dice/d20-grey.svg");
}