.mage-form{
	background: no-repeat url('../../../img/sheets/background.jpg');
	min-height: 800px;
	min-width: 950px;
	max-width: 950px;
	color: var(--base-text-color);
}

.paper-doll{
	text-align: center;
}

.paper-doll img{
	border: none;
	padding: 3px;
}

/* Grid */
.character-container, .equipment-container, .development-container, .spell-book-container{
	background-color: rgba( 0 , 0 ,0 , .75);

	display: grid;
}

/* Equipment */
.equipment-container{
	grid-template-columns : 600px 300px;
	grid-template-rows : 400px 400px;
}

.equip-list-grid{
	grid-column:1 / 2;
	grid-row: 1 / 3;
}

.doll-grid{
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}

.weapon-set-grid{
	grid-column: 2 / 3;
	grid-row: 2/ 3;
}

/* Spell book */
.spell-book-container{
	grid-template-columns: 385px 385px 130px;
	grid-template-rows:100px 700px;
}

.spellbook-rote-grid{
	grid-column: 3 / 4;
	grid-row: 1 / 2; 
}

.spellbook-filter-grid{
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.spellbook-sort-grid{
	grid-column: 2  / 3;
	grid-row: 1 / 2;
}

.spellbook-list-grid{
	grid-column: 1 / 4;
	grid-row: 2 / 3;
}

/* Development */
.development-container{
	grid-template-columns: 300px 600px;
	grid-template-rows: 100px 270px 290px auto;
}

.char-points{
	grid-column: 1 / 2;
	grid-row: 1/ 2;
}

.game-points{
	grid-column: 2/ 3;
	grid-row: 4 / 5;
}

.trait-points{
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}

.skill-points{
	grid-column: 2 / 3;
	grid: 1 / 4;
}

.arcana-points{
	grid-column :1 / 2;
	grid-row: 3 / 5;
}

.mage-logo{
	font-family: Mage
}

.character-container{
	grid-template-columns : 350px 300px 250px;
	grid-template-rows : 100px 220px 210px 200px;
}

.header{
	grid-column : 1 / 3;
	grid-row: 1 / 2;
}

.traits{
	grid-column : 1 / 3;
	grid-row : 2 / 3;
}

.mods{
	grid-column : 3 / 4;
	grid-row: 3 / 5;
}

.vitals{
	grid-column: 3 / 4;
	grid-row: 1 / 3;
}

.arcana{
	grid-column : 2 / 3;
	grid-row:3 / 4;
}

.resistance{
	grid-column: 2 / 3;
	grid-row : 4 / 5;
}

.skills{
	grid-column: 1 / 2;
	grid-row : 3 / 5;
}

/* buttons */
.btn::hover{
	background: var(--primary);
}
.btn-vitals, .input-vitals{
	background-color: var(--vitals);
}
.btn-traits , .input-traits{
	background-color: var(--traits);
}
.btn-arcana, .input-aracana, .btn-spellroll{
	background-color: var(--arcana);
}
.btn-skills , .input-skills{
	background-color: var(--skills);
	color: white;
}

.btn-spellroll img::hover{
	text-shadow: 4px 3px black;
}

.btn-spellroll{
	width: 50px;
	height: 50px;
	padding: 2px;
}

.btn-skills, .btn-arcana , .btn-vitals{
	/* super specific styling to force everything to line up in containing elements */
	max-width: 50px;
	width:50px;
	height: 28px;
	margin-top: 1px;
	line-height: 14px;
	margin-bottom: 1px;
}



/* Tab buttons */
.btn-main-tab ,
.btn-skills-tab{
	border: 3px inset var(--tertiary);
	font-family: HeaderFont;
	transition: var(--animation);
	background-color: black;
	border-radius: 1px;
}

.btn-main-tab:hover,
.btn-skills-tab:hover{
	border: 3px solid var(--tertiary-fade50);
	border-radius: 10px;
	background-color:var(--primary);
}


.btn-main-tab[selected],
.btn-skills-tab[selected]{
	border: 2px solid var(--primary);
	border-radius: 10px;

	background-color:var(--secondary);
}

/* Table Overrides */
.resist-row{
	display: table-row;
	text-align: center;
	
	padding-left: 2px;
	padding-right: 3px;
}

.skill-row:first-child{
	text-align: left;
	font-weight: 800;
}

/* Input Overrides */
.input-trait-subscript:disabled{
	border-radius: 5px;
	border: 1px solid black;
	padding: 0px;
	margin: -10px;
	width: 25px;
	height: 25px;

	background-color : var(--traits-fade50);
	border: none;
	color: white;
	text-align: center;
}

/* For number fields your not supposed to modify*/
div.skill-calculated-display,
div.arcana-calculated-display, 
div.trait-calculated-display,
div.total-calculated-display{
	font-weight:800;
	font-size:1.1em;
	width: 25px;
	height: 22px;
	line-height: 22px;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
}

div.cp-calculated-display{
	font-weight:900;
	font-size:1.4em;
	width: 50px;
	height: 30px;
	line-height: 30px;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
}

div.display-bad{
	color: red;
}

div.display-good{
	color: green;
}


div.trait-calculated-display{
	background-color: var(--traits);
}

div.arcana-calculated-display{
	background-color: var(--arcana);
}

div.skill-calculated-display{
	background-color: var(--skills);
}

div.total-calculated-display{
	background-color: var(--tertiary-fade50);
}

/* Layout */
.trait-box{
	text-align: center;
	margin: 3px;
	padding: 1px;

	border : 1px solid var(--primary-fade50);
	border-radius: 5px 5px 0px 0px;
}

.big-trait-container{
	margin-top: -10px; /* To close distance between Trait value & header */
}


/* text */

div.small-header{
	font-size: .75em;
	padding : -1px; /* so this grows to edge of 1px padding it normally gets wrapped by */

	justify-content: space-between;
	align-items: center;
}

div.small-text , span.small-text{
	font-size: .8em;
	color: var(--tertiary);
}

.sub-header{
	background-color: black;
	border-radius: 4px 4px 0px 0px;
	border: 1px solid var(--primary-fade50);
	color: white;
	font-size: 1.0em;
	text-align: center;
}

.small-sub-header{
	color:  white;
	text-align: center;
	border-radius: 3px;
}

div.character-points-header, 
div.custom-macro-header,
div.auto-macro-header
{
	border-radius: 5px 5px 0px 0px;
	max-width: 200px;
	min-width: 200px;

	background-color: var(--gray-fade50);
	margin-left: 5px; /* Makes header tab line up with grid-child beneath it. */
	margin-bottom: -5px;
	padding: 3px;
	text-align: center;

	border-top: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
}

div.traits-header, 
div.skills-header,
div.vitals-header,
div.arcana-header,
div.mod-header,
div.resistance-header,
div.games-header,
div.spellbook-list-header,
div.spellbook-sort-header,
div.spellbook-filter-header,
div.spellbook-rote-header,
div.equip-list-header,
div.doll-header,
div.weapon-set-header
{
	background-color: var(--gray-fade50);
	border-radius: 5px 5px 0px 0px;
	min-width: 100px;
	max-width: 100px;

	margin-left: 5px; /* Makes header tab line up with grid-child beneath it. */
	margin-bottom: -5px;
	text-align: center;
	padding: 3px;

	border-top: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
}

div.character-points-header, div.equipped-header, div.doll-header, div.weapon-set-header{
	color: var(--vitals-text);
}

div.resistance-header, div.backpack-header{
	color: var(--resistance-text);
}

div.traits-header, div.stats-header{
	color: var(--traits-text);
}

div.skills-header , div.auto-macro-header{
	color: var(--skills-text);
}

div.vitals-header{
	color: var(--vitals-text);
}

div.arcana-header, 
div.spellbook-list-header,
div.spellbook-sort-header,
div.spellbook-filter-header,
div.spellbook-rote-header{
	color: var(--arcana-text);
}

div.resist-header , div.equip-list-header{
	color: var(--resist-text);
}

div.mod-header, div.custom-macro-header{
	color: white;
}

.weapon-set-container .col img{
	width: 48px;
	height: 48px;
	border: 1px solid var(--primary-fade50);
	border-radius: 5px;
}

.armor-set-container{
	position: absolute;
	width: 275px;
	top: 160px;
}

img.armor-equipment{
	border: 1px solid var(--primary);
	border-radius: 5px;
	padding: 0px;

	width: 48px;
	height: 48px;
}

img.inventory-item{
	border-radius: 5px;
	padding: 0px;

	width: 48px;
	height: 48px;
}

.weapons-list .flex-row div{
	padding: 2px;
}

.weapons-list .flex-row:nth-child(even){
	background-color: var(--gray-fade25);
}