.weapons-form{
	background: no-repeat url('../../../img/sheets/weaponbackground.jpg');
	background-size: contain;
	min-width: 470px;
	max-width: 470px;
	
	color: var(--base-text-color);
}

.roll-button-container{
	text-align: center;
	padding: 5px;
}

.weapon-img{
	width: 128px;
	height: 128px;
	object-fit: contain;
	border: unset;
}

.weapon-container{
	display: grid;
	grid-template-columns: 130px auto;
	grid-template-rows: 210px auto;
}

.weapon-image{
	border: 1px solid var(--primary);
	border-radius: 5px;
	max-height: 135px;
	align-self: center;

	grid-row-start: 1;
	grid-row-end:  2;
	grid-column-start: 1;
	grid-column-end: 1;
}

.weapon-title{
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 2;
	grid-column-end: 3;
}

.weapon-data{
	grid-row-start: 2;
	grid-row-end:  3;
	grid-column-start: 1;
	grid-column-end: 3;
}

.detail-header{
	text-align: center;
	font-size: 1.1em;
	color: white;
	background: var(--primary-fade50);
	border-radius: 5px 5px 0px 0px;
	padding: 3px;
}


