<form class="mage-form">

<div class="debug">
	Debug : _id = {{ actor._id }} | currentTab = {{ data.currentTab }}
</div>

<div	class="flex-row flex-center">
	<button tab-name="character" selected="true" class="btn btn-large btn-main-tab">Character</button>
	<button tab-name="equipment" selected="false" class="btn-main-tab btn btn-large">Equipment</button>
	<button tab-name="spellbook" selected="false" class="btn-main-tab btn btn-large">Spellbook</button>
	<button tab-name="development" selected="false" class="btn-main-tab btn btn-large">Development</button>
</div>

<hr class="flaired-divider">

{{#if_equal data.currentTab "character" }}
<div id="character" class="tab character-container character-tab">
	<div class="header grid-child">
		<div class="flex-row">
			<img src="systems/Mage/img/sheets/MageLogo.png">
			<section class="table">
				<div class="row">
					<div class="col">Character</div>
					<div class="col-left-align">
						<input class="input-text input-wide">
					</div>
				</div>

				<div class="row">
					<div class="col">Tradition</div>
					<div class="col-left-align">
						<select name="data.tradition" value="{{ data.tradition }}" class="input-text input-wide">
							<option value=""> -- </option>
							<option value="">Artifice</option>
							<option value="SOCEITY">&nbsp;&nbsp;&nbsp;Soceity of Ether</option>
							<option value="BELARUS">&nbsp;&nbsp;&nbsp;Belarus Clan</option>
							<option value="SOLIFICATI">&nbsp;&nbsp;&nbsp;Solificati</option>
							<option value="VOID">&nbsp;&nbsp;&nbsp;Void Engineers</option>
							<option value="">Theurgy</option>
							<option value="ORDER">&nbsp;&nbsp;&nbsp;Order of Hermes</option>
							<option value="STIGMATA">&nbsp;&nbsp;&nbsp;Stigmata Cabal</option>
							<option value="TAFTANI">&nbsp;&nbsp;&nbsp;Taftani</option>
							<option value="VAULDERMEN">&nbsp;&nbsp;&nbsp;Vauldermen</option>
							<option value="">Conviction</option>
							<option value="CULT">&nbsp;&nbsp;&nbsp;Cult of Grammaticus</option>
							<option value="ONIBABA">&nbsp;&nbsp;&nbsp;Onibaba</option>
							<option value="CELESTIAL">&nbsp;&nbsp;&nbsp;Celestial Chorus</option>
							<option value="EUTHANATOS">&nbsp;&nbsp;&nbsp;Euthanatos</option>
							<option value="BROTHERHOOD">&nbsp;&nbsp;&nbsp;Brotherhood of the Rule</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col">Mystic Traits</div>
					<div class="col-left-align">
						<select name="mystictraits.mental" value="{{ mystictraits.mental }}" class="input-text">
							<option value=""> -- </option>
							<option value="Str">Intelligence</option>
							<option value="Dex">Charisma</option>
							<option value="Per">Courage</option>
						</select>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<select name="mystictraits.physical" value="{{ mystictraits.physical }}" class="input-text">
							<option value=""> -- </option>
							<option value="Str">Strength</option>
							<option value="Dex">Dexerity</option>
							<option value="Per">Perception</option>
						</select>
					</div>
				</div>
			</section>
		</div>
	</div> <!-- End pf Header-->

	

	<div class="traits">

	<div class="gen-header">
		<div class="traits-header">Traits</div>
	</div>

	<div class="grid-child">
	<div class="flex-row">

		<div class="trait-box flex-row">
			<div class="flex-col">

				<div class="trait-header-margin"><h4 class="sub-header">Strength</h4></div>
				<div class="big-trait-container">
					<input disabled class="input-trait-subscript" value="{{ data.traitParts.str.base }}">
					<button trait-name="str" class="btn btn-medium btn-traits">{{ data.traits.str.value }}</button>
				</div>

				<div class="small-header flex-row">
					<div>&nbsp;Temp</div>
					<div><input class="input-number" type="number"
						name="data.traitParts.str.temp" 
						value="{{ data.traitParts.str.temp }}"></div>
				</div>

				<div class="small-header flex-row striped">
					<div>&nbsp;Sustain</div>
					<div><input class="input-number" type="number"
						name="data.traitParts.str.sustained" 
						value="{{ data.traitParts.str.sustained }}"></div>
				</div>

				<div class="small-header flex-row">
					<div>&nbsp;Perm</div>
					<div><input type="number" value="{{ data.traitParts.str.perm }}" class="input-number" type="number"></div>
				</div>
				
			</div>
		</div>

		<div class="trait-box flex-row">
			<div class="flex-col">

				<div><h4 class="sub-header">Dexerity</h4></div>
				<div class="big-trait-container">
					<input name="data.traitParts.dex.base" value="{{ data.traitParts.dex.base }}" disabled class="input-trait-subscript">
					<button trait-name="dex" class="btn btn-medium btn-traits">{{ data.traits.dex.value }}</button>
				</div>

				<div class="small-header flex-row">
					<div>&nbsp;Temp</div>
					<div><input class="input-number" type="number"
						name="data.traitParts.dex.temp"
						value="{{ data.traitParts.dex.temp }}" ></div>
				</div>

				<div class="small-header flex-row striped">
					<div>&nbsp;Sustain</div>
					<div><input class="input-number" type="number"
						name="data.traitParts.dex.sustained"
						value="{{ data.traitParts.dex.sustained }}"></div>
				</div>

				<div class="small-header flex-row">
					<div>&nbsp;Perm</div>
					<div><input class="input-number" type="number"
						name="data.traitParts.dex.perm"
						value="{{ data.traitParts.dex.perm }}"></div>
				</div>
				
			</div>
		</div>

		<div class="trait-box flex-row">
			<div class="flex-col">

				<div><h4 class="sub-header">Perception</h4></div>
				<div class="big-trait-container">
					<input name="data.traitParts.per.base" value="{{ data.traitParts.per.base }}" disabled class="input-trait-subscript">
					<button trait-name="dex" class="btn btn-medium btn-traits">{{ data.traits.per.value }}</button>
				</div>

				<div class="small-header flex-row">
					<div>&nbsp;Temp</div>
					<div><input class="input-number" type="number"
						name="data.traitParts.per.temp"
						value="{{ data.traitParts.per.temp }}"></div>
				</div>

				<div class="small-header flex-row striped">
					<div>&nbsp;Sustain</div>
					<div><input class="input-number" type="number"
						name="data.traitParts.per.sustained"
						value="{{ data.traitParts.per.sustained }}"></div>
				</div>

				<div class="small-header flex-row">
					<div>&nbsp;Perm</div>
					<div><input class="input-number" type="number"
						name="data.traitParts.per.perm"
						value="{{ data.traitParts.per.perm }}"></div>
				</div>
				
			</div>
		</div>
		
		<div class="trait-box flex-row">
			<div class="flex-col">

				<div><h4 class="sub-header">Intelligence</h4></div>
				<div class="big-trait-container">
					<input 
						name="data.traitParts.int.base" 
						value="{{ data.traitParts.int.base }}" disabled class="input-trait-subscript">
					<button trait-name="dex" class="btn btn-medium btn-traits">{{ data.traits.int.value }}</button>
				</div>

				<div class="small-header flex-row">
					<div>&nbsp;Temp</div>
					<div><input class="input-number" type="number"
						name="data.traitParts.int.temp"
						value="{{ data.traitParts.int.temp }}"></div>
				</div>

				<div class="small-header flex-row striped">
					<div>&nbsp;Sustain</div>
					<div><input class="input-number" type="number"
						name="data.traitParts.int.sustained"
						value="{{ data.traitParts.int.sustained }}"></div>
				</div>

				<div class="small-header flex-row">
					<div>&nbsp;Perm</div>
					<div><input class="input-number" type="number" 
						name="data.traitParts.int.perm"
						value="{{ data.traitParts.int.perm }}"></div>
				</div>
					
			</div>
		</div>
		
		<div class="trait-box flex-row">
		<div class="flex-col">

			<div><h4 class="sub-header">Charisma</h4></div>
			<div class="big-trait-container">
				<input disabled class="input-trait-subscript"
					name="data.traitParts.cha.base"
					value="{{ data.traitParts.cha.base }}">
				<button trait-name="dex" class="btn btn-medium btn-traits">{{ data.traits.cha.value }}</button>
			</div>

			<div class="small-header flex-row">
				<div>&nbsp;Temp</div>
				<div><input class="input-number" type="number"
					name="data.traitParts.cha.temp"
					value="{{ data.traitParts.cha.temp }}"></div>
			</div>

			<div class="small-header flex-row striped">
				<div>&nbsp;Sustain</div>
				<div><input class="input-number" type="number" 
					name="data.traitParts.cha.sustained"
					value="{{ data.traitParts.cha.sustained }}"></div>
			</div>

			<div class="small-header flex-row">
				<div>&nbsp;Perm</div>
				<div><input class="input-number" type="number" 
					name="data.traitParts.cha.perm"
					value="{{ data.traitParts.cha.perm }}"></div>
			</div>
				
		</div>
		</div>

		<div class="trait-box flex-row">
			<div class="flex-col">

				<div><h4 class="sub-header">Courage</h4></div>
				<div class="big-trait-container">
					<input name="data.traitParts.cor.base" value="{{ data.traitParts.cor.base }}" disabled class="input-trait-subscript">
					<button trait-name="dex" class="btn btn-medium btn-traits">{{ data.traits.cor.value }}</button>
				</div>

				<div class="small-header flex-row">
					<div>&nbsp;Temp</div>
					<div><input class="input-number" type="number"
						name="data.traitParts.cor.temp" 
						value="{{ data.traitParts.cor.temp }}"></div>
				</div>

				<div class="small-header flex-row striped">
					<div>&nbsp;Sustain</div>
					<div><input class="input-number" type="number"
						name="data.traitParts.cor.sustained" 
						value="{{ data.traitParts.cor.sustained }}"></div>
				</div>

				<div class="small-header flex-row">
					<div>&nbsp;Perm</div>
					<div><input class="input-number" type="number"
						name="data.traitParts.cor.perm"
						value="{{ data.traitParts.cor.perm }}"></div>
				</div>
					
			</div>
		</div>

	
	
	</div>
	</div> <!-- End of grid child -->
	</div> <!-- End of traits -->

	<div class="vitals">
	<div class="gen-header">
		<div class="vitals-header">Vitals</div>
	</div>

	<div class="grid-child">
		<section class="table">
			<div class="header-row vitals-header">
				<div class="col"></div>
				<div class="col">Bonus</div>
				<div class="col">Total</div>
			</div>

			<div class="row">
				<div class="col">Health</div>
				<div class="col">
					<input name="data.hp.bonus" value="{{ data.hp.bonus }}" class="input-number" type="number">
				</div>
				<div class="col">
					<input name="data.hp.current" value="{{ data.hp.current }}" class="input-number" type="number">
					/ <span>{{ data.hp.max }}</span> 
				</div>
			</div>

			<div class="row">
				<div class="col">Armor</div>
				<div class="col">
					<input name="data.armor.bonus" value="{{ data.armor.bonus }}" class="input-number" type="number">
				</div>
				<div class="col">
					<input name="data.armor.current" value="{{ data.armor.current }}" class="input-number" type="number"> 
					<span> / {{ data.armor.max }}</span>
				</div>
			</div>

			<div class="row">
				<div class="col"></div>
				<div class="col"></div>
				<div class="col"></div>
			</div>

			<div class="row">
				<div class="col">Paradox</div>
				<div class="col"><input class="input-number" type="number"></div>
				<div class="col"><button class="btn btn-vitals"></button></div>
			</div>

			<div class="row">
				<div class="col">Wounds</div>
				<div class="col"><button class="btn btn-vitals">Roll</button></div>
			</div>
		</section>

		<section class="table">
			<div class="header-row vitals-header">
				<div class="col">Save</div>
				<div class="col">Bonus</div>
				<div class="col">
					Roll
				</div>
			</div>

			{{#each data.defenses}}
			<div class="row">
				<div class="col">{{ name }}</div>
				<div class="col"><input class="input-number" type="number" name="temp" value="{{ Bonus }}"></div>
				<div class="col">
					<button class="btn btn-vitals">{{ value }}</button>
				</div>
			</div>
			{{/each}}
			
		</section>
	</div> <!-- End of Grid child -->
	</div> <!-- end of Vitals -->

	<div class="skill">
		
		<div class="gen-header">
			<div class="skills-header">Skills</div>
		</div>

	<div class="grid-child">
		<div class="flex-row">
			<button tab-name="grit" class="btn btn-hi-medium btn-skills-tab">Grit</button>
			<button tab-name="cunning" class="btn btn-hi-medium btn-skills-tab">Cunning</button>
			<button tab-name="will" class="btn btn-hi-medium btn-skills-tab">Will</button>
		</div>

		<section class="table">
		<div class="header-row skills-header">
			<div class="col">&nbsp;</div>
			<div class="col">Trait</div>
			<div class="col">Equip</div>
			<div class="col">Enchant</div>
			<div class="col">Roll</div>
		</div>

		{{#if_equal data.currentSkillTab "grit" }}
			{{#each data.skills.grit }}
			<div class="row">
				<div class="col">{{ name }}</div>
				<div class="col small-text">
					{{ trait }}
				</div>
				<div class="col">
					<input type="number" skill-change="wand" name="equip" value="{{ equip }}" class="input-number" type="number">
				</div>
				<div class="col">
					<input type="number" skill-change="wand" name="enchant" value="{{ enchant }}" class="input-number" type="number">
				</div>
				<div class="col">
					<button skill-name="wand" class="btn btn-skills">
						{{ value }}
					</button>
				</div>
			</div>
			{{/each}}
		{{/if_equal}}

		{{#if_equal data.currentSkillTab "cunning" }}
			{{#each data.skills.cunning }}
			<div class="row">
				<div class="col">{{ name }}</div>
				<div class="col small-text">
					{{ trait }}
				</div>
				<div class="col">
					<input type="number" skill-change="wand" name="equip" value="{{ equip }}" class="input-number" type="number">
				</div>
				<div class="col">
					<input type="number" skill-change="wand" name="enchant" value="{{ enchant }}" class="input-number" type="number">
				</div>
				<div class="col">
					<button skill-name="wand" class="btn btn-skills">
						{{ value }}
					</button>
				</div>
			</div>
			{{/each}}
		{{/if_equal}}

		{{#if_equal data.currentSkillTab "will" }}
			{{#each data.skills.will }}
			<div class="row">
				<div class="col">{{ name }}</div>
				<div class="col small-text">
					{{ trait }}
				</div>
				<div class="col">
					<input type="number" skill-change="wand" name="equip" value="{{ equip }}" class="input-number" type="number">
				</div>
				<div class="col">
					<input type="number" skill-change="wand" name="enchant" value="{{ enchant }}" class="input-number" type="number">
				</div>
				<div class="col">
					<button skill-name="wand" class="btn btn-skills">
						{{ value }}
					</button>
				</div>
			</div>
			{{/each}}
		{{/if_equal}}
		</section>

		
	</div> <!-- End of Grid Child -->
	</div> <!-- End of Skills -->

	<div class="arcana">
		<div class="gen-header">
			<div class="arcana-header">Arcana</div>
		</div>

	<div class="grid-child">

		<section class="table">
			<div class="header-row arcana-header">
				<div class="col">&nbsp;</div>
				<div class="col">Weaver</div>
				<div class="col">Wyld</div>
				<div class="col">Wyrm</div>
			</div>

			<div class="row">
				<div class="col">Goverance</div>
				<div class="col">
					<div class="small-sub-header">Time</div>
					<button arcana-name="Time" class="btn btn-arcana">0</button>
				</div>
				<div class="col">
					<div class="small-sub-header">Space</div>
					<button arcana-name="Space" class="btn btn-arcana">0</button>
				</div>
				<div class="col">
					<div class="small-sub-header">Entropy</div>
					<button arcana-name="Entropy" class="btn btn-arcana">0</button>
				</div>
			</div>

			<div class="row">
				<div class="col">Patterns</div>
				<div class="col">
					<div class="small-sub-header">Matter</div>
					<button arcana-name="" class="btn btn-arcana">0</button>
				</div>
				<div class="col">
					<div class="small-sub-header">Life</div>
					<button arcana-name="Life" class="btn btn-arcana">0</button>
				</div>
				<div class="col">
					<div class="small-sub-header">Spirit</div>
					<button arcana-name="Spirit" class="btn btn-arcana">0</button>
				</div>
			</div>

			<div class="row">
				<div class="col">Essence</div>
				<div class="col">
					<div class="small-sub-header">Mind</div>
					<button arcana-name="Mind" class="btn btn-arcana">0</button>
				</div>
				<div class="col">
					<div class="small-sub-header">Prime</div>
					<button arcana-name="Prime" class="btn btn-arcana">0</button>
				</div>
				<div class="col">
					<div class="small-sub-header">Forces</div>
					<button arcana-name="Forces" class="btn btn-arcana">0</button>
				</div>
			</div>
		</section>

	</div> <!-- end of Gen Header-->
	</div> <!-- End of Arcana -->

	<div class="resistance">
	<div class="gen-header">
		<div class="resistance-header">Resistance</div>
	</div>

	<div class="grid-child">
		<section class="table">

			<div class="header-row resistance-header">
				<div class="col">Material</div>
				<div class="col">Elemental</div>
				<div class="col">Celestial</div>
			</div>

			<div class="resist-row">
				<div class="col">
					<div class="small-sub-header">Blunt</div>
					<select class="input-text" value="{{ data.resist.blunt }}">
						<option value="0">Immune</option>
						<option value=".5">Resist</option>
						<option value="1">Normal</option>
						<option value="2">Weak</option>
					</select>
				</div>
				<div class="col">
					<div class="small-sub-header">Thermal</div>
					<select class="input-text" value="{{ data.resist.thermal }}">
						<option value="0">Immune</option>
						<option value=".5">Resist</option>
						<option value="1">Normal</option>
						<option value="2">Weak</option>
					</select>
				</div>
				<div class="col">
					<div class="small-sub-header">Solar</div>
					<select class="input-text" value="{{ data.resist.solar }}">
						<option value="0">Immune</option>
						<option value=".5">Resist</option>
						<option value="1">Normal</option>
						<option value="2">Weak</option>
					</select>
				</div>
			</div>

			<div class="resist-row">
				<div class="col">
					<div class="small-sub-header">Peircing</div>
					<select class="input-text" value="{{ data.resist.peircing }}">
						<option value="0">Immune</option>
						<option value=".5">Resist</option>
						<option value="1">Normal</option>
						<option value="2">Weak</option>
					</select>
				</div>
			
				<div class="col">
					<div class="small-sub-header">Electric</div>
					<select class="input-text" value="{{ data.resist.electric }}">
						<option value="0">Immune</option>
						<option value=".5">Resist</option>
						<option value="1">Normal</option>
						<option value="2">Weak</option>
					</select>
				</div>
				<div class="col">
					<div class="small-sub-header">Lunar</div>
					<select class="input-text" value="{{ data.resist.lunar }}">
						<option value="0">Immune</option>
						<option value=".5">Resist</option>
						<option value="1">Normal</option>
						<option value="2">Weak</option>
					</select>
				</div>
			</div>

			<div class="resist-row">
				<div class="col">
					<div class="small-sub-header">Slashing</div>
					<select class="input-text" value="{{ data.resist.slashing }}">
						<option value="0">Immune</option>
						<option value=".5">Resist</option>
						<option value="1">Normal</option>
						<option value="2">Weak</option>
					</select>
				</div>
			
				<div class="col">
					<div class="small-sub-header">Toxic</div>
					<select class="input-text" value="{{ data.resist.toxic }}">
						<option value="0">Immune</option>
						<option value=".5">Resist</option>
						<option value="1">Normal</option>
						<option value="2">Weak</option>
					</select>
				</div>
				<div class="col">
					<div class="small-sub-header">Banal</div>
					<select class="input-text" value="{{ data.resist.banal }}">
						<option value="0">Immune</option>
						<option value=".5">Resist</option>
						<option value="1">Normal</option>
						<option value="2">Weak</option>
					</select>
				</div>
			</div>

		</section>
	</div><!-- End of Grid-Child-->
	
	</div><!-- End of Resistance Header -->

	<div class="mods">
		<div class="gen-header">
			<div class="mod-header">Modifiers</div>
		</div>
	<div class="grid-child">
	
	</div><!-- End of Grid Child-->
	</div><!-- End of Mods-->
</div>
{{/if_equal}}

{{#if_equal data.currentTab "equipment" }}
<div id="equipment" class="tab equipment-container equipment-tab">
	<div class="equipment-detail"></div>
	<div class="paper-doll"></div>
	<div class=""></div>
	<div></div>
	<div></div>
</div> <!-- End of Equipment Tab -->
{{/if_equal}}

{{#if_equal data.currentTab "spellbook"}}
<div id="spellbook" class="tab main-container spellbook-tab">
	SpellBook!
</div><!-- End of Spellbook Tab -->
{{/if_equal}}

{{#if_equal data.currentTab "development" }}
<div id="development" class="tab development-container development-tab">
	<div class="char-points">
		<div class="gen-header">
			<div class="character-points-header">Character Points</div>
		</div>
	
	<div class="grid-child">
		<div class="flex-row">

			<div>
			<section class="table">
				<div class="header-row">
					<div class="col">Reamining</div>
					<div class="col">Spent</div>
					<div class="col">Total</div>
					<div class="col">Earned</div>
					<div class="col">Trained</div>
				</div>

				<div class="clean-row">
					<div class="col"><div class="cp-calculated-display">{{ data.cp.remaining }}</div></div>
					<div class="col"><div class="cp-calculated-display">{{ data.cp.spent }}</div></div>
					<div class="col"><div class="cp-calculated-display">{{ data.cp.trained }}</div></div>
					<div class="col"><div class="cp-calculated-display">{{ data.cp.earned }}</div></div>
					<div class="col"><div class="cp-calculated-display">{{ data.cp.trained }}</div></div>
				</div>
			</section>
			</div>

			<div class="flex2-3">
			<section class="table">
				<div class="header-row">
					<div class="col">Games</div>
				</div>

				<div class="row">
					<div class="col">
					{{#each data.exp }}
						{{@index}}: <input class="input-number" type="number" name="blanket" value="{{ blanket }}">
					{{/each}}
					</div>
				</div>
			</section>
			</div>


		</div><!-- End of flex-col-->
	</div> <!-- End of grid child-->
	</div> <!-- End of Character Points -->
	
	<div class="trait-points">
		<div class="gen-header">
			<div class="traits-header">Traits</div>
		</div>

	<div class="grid-child">
		<section class="table">
			<div class="header-row traits-header">
				<div class="col">
					{{#if_greater data.creation.traits data.cp.traits }}
						<div class="display-good">
							Creation : {{ data.creation.traits }}
						</div>
					{{/if_greater }}
				</div>
				<div class="col">Trait</div>
				<div class="col">Super</div>
				<div class="col">Total</div>
				<div class="col">Cost</div>
			</div>

			{{#each data.traitParts as |trait id|}}
			<div class="row">
				<div class="col">{{ trait.name }}</div>
				<div class="col"><input class="input-number" type="number" name="data.traitParts.{{id}}.base" value="{{ trait.base }}"></div>
				<div class="col"><input class="input-number" type="number" name="data.traitParts.{{id}}.super" value="{{ trait.super }}"></div>
				<div class="col">
					<div class="trait-calculated-display">{{ trait.total }}</div>
				</div>
				<div class="col">
					<div class="trait-calculated-display">{{ trait.cost }}</div>
				</div>
			</div>
			{{/each}}

			<div class="row">
				<div class="col-center-focus">TOTAL</div>
				<div class="col"></div>
				<div class="col"></div>
				<div class="col"></div>
				<div class="col">
					<div class="total-calculated-display">{{ data.cp.traits }}</div>
				</div>
			</div>
		</section>
	</div>
	</div>

	<div class="aracana-points">
		<div class="gen-header">
			<div class="arcana-header">Arcana</div>
		</div>
	<div class="grid-child">
		<section class="table">
			<div class="header-row arcana-header">
				<div class="col">
					{{#if_greater data.creation.arcana data.cp.arcana }}
						<div class="display-good">
							Creation : {{ data.creation.arcana }}
						</div>
					{{/if_greater }}
				</div>
				<div class="col">Arcana</div>
				<div class="col">Super</div>
				<div class="col">Total</div>
				<div class="col">Cost</div>
			</div>
			

			{{#each data.arcana as |sphere id|}}
			<div class="row">
				<div class="col">{{ name }}</div>
				<div class="col">
					<input name="data.arcana.{{id}}.base" value="{{ sphere.base }}" class="input-number" type="number">
				</div>
				<div class="col">
					<input name="data.arcana.{{id}}.super" value="{{ sphere.super }}" class="input-number" type="number">
				</div>
				<div class="col">
					<div class="arcana-calculated-display">{{ sphere.total }}</div>
				</div>
				<div class="col">
					<div class="arcana-calculated-display">{{ sphere.cost }}</div>
				</div>
			</div>
			{{/each}}

			<div class="row">
				<div class="col-center-focus">TOTAL</div>
				<div class="col"></div>
				<div class="col"></div>
				<div class="col"></div>
				<div class="col">
					<div class="total-calculated-display">{{ data.cp.arcana }}</div>
				</div>
			</div>
		</section>
	</div>
	</div>
	
	<div class="skill-points">
		<div class="gen-header">
			<div class="skills-header">Skills</div>
		</div>
		

	<div class="grid-child">
	<div>
	{{#if_greater data.creation.skills data.cp.skills }}
		<div class="display-good">
			Creation : {{ data.creation.skills }}
		</div>
	{{/if_greater }}
	</div>
	<div class="flex-row">
		<div class="flex2">
		<section class="table">
			<div class="header-row skills-header">
				<div class="col">Grit</div>
				<div class="col">Trait</div>
				<div class="col">Skill</div>
				<div class="col">Super</div>
				<div class="col">Total</div>
				<div class="col">Tier</div>
				<div class="col">Cost</div>
			</div>

			{{#each data.skills.grit as |skill id|}}
			<div class="row">
				<div class="col">{{ skill.name }}</div>
				<div class="col">{{ skill.trait }}</div>
				<div class="col">
					<input class="input-number" type="number" name="data.skills.grit.{{id}}.base" value="{{ skill.base }}">
				</div>
				<div class="col">
					<input class="input-number" type="number" name="data.skills.grit.{{id}}.super" value="{{ skill.super }}">
				</div>
				<div class="col">
					<div class="skill-calculated-display">{{ skill.total }}</div>
				</div>
				<div class="col">{{ skill.tier }}</div>
				<div class="col">
					<div class="skill-calculated-display">{{ skill.cost }}</div>
				</div>
			</div>
			{{/each}}
		</section>

		<div>&nbsp;</div>

		<section class="table">
			<div class="header-row skills-header">
				<div class="col">Cunning</div>
				<div class="col">Trait</div>
				<div class="col">Skill</div>
				<div class="col">Super</div>
				<div class="col">Total</div>
				<div class="col">Tier</div>
				<div class="col">Cost</div>
			</div>

			{{#each data.skills.cunning as |skill id|}}
			<div class="row">
				<div class="col">{{ skill.name }}</div>
				<div class="col">{{ skill.trait }}</div>
				<div class="col">
					<input class="input-number" type="number" name="data.skills.cunning.{{id}}.base" value="{{ skill.base }}">
				</div>
				<div class="col">
					<input class="input-number" type="number" name="data.skills.cunning.{{id}}.super"  value="{{ skill.super }}">
				</div>
				<div class="col">
					<div class="skill-calculated-display">{{ skill.total }}</div>
				</div>
				<div class="col">{{ skill.tier }}</div>
				<div class="col">
					<div class="skill-calculated-display">{{ skill.cost }}</div>
				</div>
			</div>
			{{/each}}

			<div class="row">
				<div class="col-center-focus">TOTAL</div>
				<div class="col"></div>
				<div class="col"></div>
				<div class="col"></div>
				<div class="col"></div>
				<div class="col"></div>
				<div class="col">
					<div class="total-calculated-display">{{ data.cp.skills }}</div>
				</div>
			</div>
		</section>

		</div> <!-- End of left column-->

		<div class="flex2">
		<section class="table">
			<div class="header-row skills-header">
				<div class="col">Will</div>
				<div class="col">Trait</div>
				<div class="col">Skill</div>
				<div class="col">Super</div>
				<div class="col">Total</div>
				<div class="col">Tier</div>
				<div class="col">Cost</div>
			</div>

			{{#each data.skills.will as |skill id| }}
			<div class="row">
				<div class="col">{{ skill.name }}</div>
				<div class="col">{{ skill.trait }}</div>
				<div class="col">
					<input class="input-number" type="number" name="data.skills.will.{{id}}.base" value="{{ skill.base }}">
				</div>
				<div class="col">
					<input class="input-number" type="number" name="data.skills.will.{{id}}.super" value="{{ skill.super }}">
				</div>
				<div class="col">
					<div class="skill-calculated-display">{{ skill.total }}</div>
				</div>
				<div class="col">{{ skill.tier }}</div>
				<div class="col">
					<div class="skill-calculated-display">{{ skill.cost }}</div>
				</div>
			</div>
			{{/each}}
		</section>

		<div>&nbsp;</div>

		<section class="table">
			<div class="header-row skills-header">
				<div class="col"></div>
				<div class="col">
					Specializations
				</div>
			</div>

			<div class="row">
				<div class="col">Cosmology</div>
				<div class="col">
					<textarea class="input-text textarea-small"></textarea>
				</div>
			</div>

			<div class="row">
				<div class="col">Occult</div>
				<div class="col">
					<textarea class="input-text textarea-small"></textarea>
				</div>
			</div>

			<div class="row">
				<div class="col">Academics</div>
				<div class="col">
					<textarea class="input-text textarea-small"></textarea>
				</div>
			</div>

			<div class="row">
				<div class="col">Survival</div>
				<div class="col">
					<textarea class="input-text textarea-small"></textarea>
				</div>
			</div>

			<div class="row">
				<div class="col">Craft</div>
				<div class="col">
					<textarea class="input-text textarea-small"></textarea>
				</div>
			</div>
		</section>

		</div>
	
	</div>
	</div>
		
	</div>
</div> <!-- End of Development -->
{{/if_equal}}

</form>