<form>
<div>
	Debug : _id = {{ actor._id }}
</div>

<div>
	<input name="actor.name" value="actor.name">
</div>

<div class="flex-row">
	<div>
		<input
			type="number"			
			class=""
			name="data.traits.str.value" 
			value="{{ data.traits.str.value }}">
		<button>Strength</button>
	</div>

	<div>
		<input
			type="number"
			class=""
			name="data.traits.str.value" 
			value="{{ data.traits.str.value }}">
		<button>Dexerity</button>
	</div>

	<div>
		<input
			type="number"
			class=""
			name="data.traits.str.value" 
			value="{{ data.traits.str.value }}">
		<button>Perception</button>
	</div>

	<div>
		<input
			type="number"
			class=""
			name="data.traits.str.value" 
			value="{{ data.traits.str.value }}">
		<button>Charisma</button>
	</div>

	<div>
		<input
			type="number"
			class=""
			name="data.traits.str.value" 
			value="{{ data.traits.str.value }}">
		<button>Intelligence</button>
	</div>

	<div>
		<input
			type="number"
			class=""
			name="data.traits.str.value" 
			value="{{ data.traits.str.value }}">
		<button>Courage</button>
	</div>
</div>

<div>
	Testing Area! Expect Nonsense
</div>

<div>
	<button></button>
</div>

</form>