@font-face {
	font-family : HeaderFont;
	src:url('../fonts/Dolphian.ttf');
}

/* Color Pallette */
:root{
	--bg-main 	: black;
	--base-text-color : white;
	--selected : rgba(25 , 49 , 113, .5 );

	--input-background : rgba(20,20,20, .8);

	--gray-fade25: rgba(50, 30, 50, 0.50);
	--gray-fade50: rgba(20,20,20, .75);

	--primary				: rgba(133, 18 ,87 ,1);
	--primary-fade50 		: rgba(133, 18 , 87 ,.5);
	--secondary				: rgba(25 , 49 , 113, 1);
	--secondary-fade50	: rgba(25 , 49 , 113, .5 );
	--tertiary				: rgba(219, 204, 23 , 1);
	--tertiary-fade50		: rgba(219, 204, 23 , .5);

	--resistance 			: rgb(119, 126, 22);
	--resistance-text		: rgb(225, 235, 141);

	--arcana					: rgba(15, 112, 47);
	--arcana-text			: rgb(129, 252, 170);
	--traits					: rgba(90, 55, 90);
	--traits-fade50		: rgba(90, 55, 90, .5);
	--traits-text			: rgb(202, 104, 202);
	--skills					: rgba(16, 15, 95 ,1);
	--skills-text			: rgba(130, 179, 239 ,1);
	--skills-fade50		: rgba(16, 15, 95 , .5);
	--vitals					: rgba(110, 15, 15);
	--vitals-text			: rgb(255, 118, 118);

	--warn: rgba(110, 15, 15);
	--success : rgba( 15, 110, 15);

	--animation : all .5s ease-in-out; 
}

/* Grid & layout */
.debug {
	background-color: white;
	color : black;
	/* display: hidden; */
}

div.gen-header{
	font-size: 1.4em;
	background : none;
}

hr.flaired-divider{ 
	height: 20px; 
	border-style: solid; 
	border-color: var(--tertiary); 
	border-width: 0px 0 1px 0; 
	border-radius: 20px;

	margin-top: -20px;
	margin-left:5px;
	margin-right:5px;
}

.grid-child{
	padding: 5px;
	margin: 5px;

	background-color: var(--gray-fade50);
	border-radius : 0px 10px 10px 10px;
	border: 3px outset var(--primary-fade50);

	min-height: calc(100% - 40px);
}

/* Flex */
.flex-row{
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.flex-col{
	display: flex;
	flex-direction: column;
}

.flex-center{
	justify-content: center;
	align-items: center;
}

.flex-1{
	flex-grow:1;
	width: 0;
}

.flex2{
	flex-grow: 1;
	width: 50%;
}

.flex1-3{
	flex-grow: 1;
}

.flex2-3{
	flex-grow: 2;
}

/* CSS table */
.table {
	display: table;
	padding: 0px;
	margin: 0px;
	width: 100%;
	border-radius: 5px;
	border: none;
}

.table .row:nth-child( even ){
	background-color:var(--gray-fade25);
}


.header-row, .row , .clean-row{
	display: table-row;
	text-align: center;
	
	padding-left: 2px;
	padding-right: 3px;
}

.header-row {
	font-size: .9em;
}

.header-row div , .header-row td{
	border-bottom: 1px solid var(--primary);
}

.row .col:first-child , .col.row-leader{
	text-align: left;
	width: 100px;
	font-size: .9em;
	color: var(--tertiary);
	padding: 3px;
}

.col-lead-short{
	text-align: left;
	width: 50px;
	font-size: .9em;
	color: var(--tertiary);
	padding: 3px;
	display: table-cell;
	vertical-align: middle;
	border-radius: 5px;
}

.tight-row .col:first-child{
	text-align: left;
	width: 50px;
	font-size: .9em;
	color: var(--tertiary);
	padding: 3px;
}



.col {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	border-radius: 5px;
}

.col-center-focus{
	display: table-cell;
	text-align: center;
	font-size: 1.1em;
	color: var(--tertiary);
	vertical-align: middle;
	border-radius: 5px;
}

.col-center-align{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	border-radius: 5px;
}

.col-left-align{
	display: table-cell;
	text-align: left;
	vertical-align: middle;
	border-radius: 5px;
}

/* Inputs & Selects */
select{
	font-size:.8em;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}

input{
	color: white;
	background-color: var(--input-background);

	border-radius: 5px;
}

.textarea-medium:disabled,
.textarea-small:disabled{
	color: lightgrey;
}

.textarea-medium,
.textarea-small
{
	color: white;
	background-color: var(--input-background);
	border: 1px solid var(--secondary);
}

.textarea-medium{
	border: 1px solid var(--primary);
	border-radius: 5px;
	
	min-height:80px;
}

.textarea-small{
	border: 1px solid var(--primary);
	border-radius: 5px;

	min-height:44px;
}

.input-wide{
	min-width:150px;
}


.input-text:focus,
.input-number:focus
{
	outline:none;
	border-radius: 10px;

	background-color: var(--selected);

	box-shadow: 
		2px 3px 5px var(--tertiary),
		1px 1px 2px var(--tertiary);
	border: 1px solid var(--tertiary);
}

.input-text{
	background-color: black;
	color: white;

	padding: 3px;

	border: 1px solid var(--secondary);

	transition: var(--animation); 
}

.input-number{
	width: 2em;
	height: 2em;

	text-align: center;

	border-radius: 5px;
	border: 1px solid var(--secondary);

	transition: var(--animation); 
}

.input-bigly{
	font-size: 2.0em;
	font-weight: 900;
}

.input-tiny{
	width: 25px;
}

.input-small{
	width: 50px;
}

.input-medium{
	width: 75px;
}

.input-large{
	width: 100px;
}

/* Buttons */

.btn{
	/* background-image: -webkit-linear-gradient(top, var(--primary), var(--secondary) );*/
	border-radius: 5px;
	margin: 3px;

	font-size: 1.2em;
	font-weight: 800;

	color: var(--base-text-color);

	border: 1px solid black;
}

.btn-large{
	width:200px;
}

.btn-hi-medium{
	width: 100px;
}

.btn-medium{
	width: 75px;
	font-size: 1.5em;
}

.btn-small{
	width: 50px;
	font-size: 1.2em;
}

/* Super specific styling here to deal with centering & Icons */
.btn-icon{
	width: 24px;
	height: 24px;
	padding: 0px;
	line-height: 32px;
	display: flex;
	justify-content: center;
	align-self: center;
}

.btn-icon img{
	width: 16px;
	height: 16px;
}

.btn-warn{
	background-color: var(--warn);
}

.btn-success{
	background-color: var(--success);
}

.btn-neutral{
	background-color: var(--secondary);
}