/* Edits done to affect the application ,outside of window.content boxes 
	These should all override some property that is default that we do not want.
*/
.window-app .window-content{
	background : none; /* A container element for the background. */
}

.debug {
	background-color: white;
	color : black;
	/* display: hidden; */
}

@font-face {
	font-family : HeaderFont;
	src:url('../fonts/Dolphian.ttf');
}

/* Color Pallette */
:root{
	--bg-main 	: black;
	--base-text-color : white;
	--selected : rgb(33, 63, 33);

	--gray-fade50: rgba(63,63,63, .5);

	--primary				: rgba(133, 18 ,87 ,1);
	--primary-fade50 		: rgba(133, 18 , 87 ,.5);
	--secondary				: rgba(25 , 49 , 113, 1);
	--secondary-fade50	: rgba(25 , 49 , 113, .5 );
	--tertiary				: rgba(168, 155, 21 , 1);
	--tertiary-fade50		: rgba(168, 155, 21 , .5);

	--skills					: rgba(252, 96, 168 ,1 );
	--skills-fade50		: rgba(252, 96, 168, .5);
	--traits					: rgb(90, 55, 90);
	--traits-fade50		: rgba(90, 55, 90, .5);
	--arcana					: rgba(244, 179, 147);
	--arcana-fade50		: rgba(244, 179, 147 , .5);
	--vitals					: rgba(255, 37, 37 , 1);
	--vitals-fade50		: rgba(255, 37, 37 , .5);

	--animation : all .5s ease-in-out; 
}

.mage-form{
	background: var(--bg-main);
	height: 100%;

	color: var(--base-text-color);
}

/* Grid */
.main-container{
	display: grid;
	grid-template-columns : 250px auto 250px;
	grid-template-rows : 100px 250px auto;
}

.grid-child{
	padding: 5px;
	margin: 5px;

	background-color: var(--gray-fade50);
	border: 1px solid var(--primary);
	border-radius : 5px 5px 0px 0px;
}

.mage-logo{
	font-family: Mage
}

.header{
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start:1;
	grid-row-end: 1;
}

.traits{
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start:2;
	grid-row-end: 3;
}

.mods{
	min-height: 400px;
}

.vitals{
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start:1;
	grid-row-end: 3;
}

.arcana{
	min-width: 250px;

	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start:3;
	grid-row-end: 4;
}

.skills{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start:3;
	grid-row-end: 4;
}

/* Flex */
.flex-row{
	display: flex;
}

.flex-col{
	display: flex;
	flex-direction: column;
}

.btn{
	/* background-image: -webkit-linear-gradient(top, var(--primary), var(--secondary) );*/
	border-radius: 5px;
	
	padding: -3px; 
	margin: 3px;

	font-size: 1.2em;
	font-weight: 800;

	color: var(--base-text-color);
}

.btn::hover{
	background: var(--primary);
}

.btn-vitals{
	background-color: var(--vitals);
}

.btn-traits{
	background-color: var(--traits);

	border: 1px solid black;
}

.btn-large{
	width:200px;
}

.btn-medium{
	width: 75px;
	font-size: .85em;
}

.btn-small{
	width: 50px;
}

.btn-icon{
	width: 25px;
}

.btn-main-tab{
	border: 2px solid var(--tertiary);
	font-family : HeaderFont;

	transition: var(--animation); 
}

.btn-main-tab[selected="true"]{
	width: 210px;
}

/* Tables */
.table{
	border: none;
	padding: 3px;
	margin: 3px;
}


/* Inputs */

input:disabled{
	background-color: rgba(0,0,0,0);
	color: white;
	border-radius: 5px;
	border: none;

	text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}

input{
	color: white;
	background-color: black;

	border-radius: 5px;
}

.input-number{
	width: 2em;
	height: 2em;

	text-align: center;

	border-radius: 5px;
	border: 1px solid var(--secondary);

	transition: var(--animation); 
}

.input-manual:focus,
.input-number:focus
{
	outline:none;
	border-radius: 10px;

	background-color: var(--selected);

	box-shadow: 
		2px 3px 5px var(--tertiary),
		1px 1px 2px var(--tertiary);
	border: 2px solid var(--tertiary);
}

.input-manual{
	background-color: black;
	color: white;

	padding: 3px;

	border: 1px solid var(--secondary);

	transition: var(--animation); 
}

.input-trait{
	border: none;
}

.input-bigly{
	font-size: 2.0em;
	font-weight: 900;
}

.input-tiny{
	width: 25px;
}

.input-small{
	width: 50px;
}

.input-medium{
	width: 75px;
}

.input-large{
	width: 200px;
}

/* A small sized input meant to go under large things */
.input-subscript{
	border-radius: 100px;
	border: 1px solid black;

	width: 35px;
	height: 35px;

	background-color : var(--traits);

	position: relative;
	top: -10px;
	right: 0px;

	color : black;

	text-align: center;
}

/* Layout */

.trait-box{
	text-align: center;
	margin: 3px;
	padding: 3px;
}

.box-header{
	text-align: center;
}

/* text */

div.small-header{
	font-size: .75em;
	color: var(--secondary);
	padding : 5px;

	background-color: var(--gray-fade50);
	border-radius: 5px 5px 0px 0px;
}