

ol.directory-list{
	background-color: black;
}

.window-app .window-content{
	background: black;
	color: white;
}

form button{
	background: black;
	color: white;
}

button.dialog-button{
	background: grey;
	color: white;
}

p.notes{
	color: white;
}

input[type="text"] , select{
	width: 2em;
	height: 2em;

	text-align: center;

	border-radius: 5px;
	border: 1px solid var(--secondary);

	transition: var(--animation); 

	color: white;
}

input[type="text"]:focus , select:focus{
	outline:none;
	border-radius: 10px;

	background-color: var(--selected);

	box-shadow: 
		2px 3px 5px var(--tertiary),
		1px 1px 2px var(--tertiary);
	border: 1px solid var(--tertiary);
}

textarea{/* Defaults for UI to better deal with black background */
	color: white;
	border: 1px solid var(--primary);
	border-radius: 5px;
}

.journal-sheet form input{
	width: 100%;
	text-align: left;
}

/* Removes the 'remove' button from macro list to make it at least a bit cleaner to handle macro/creation destruction */
li.macro #context-menu li.context-item:nth-child( 2 ){
	display : none;
}

/* Styling for Card Draws & custom macro bar*/

#custom-hotbar{
	bottom: 600px !important;
	right: 315px !important;
	left: unset !important;
	width: 65px !important;
}

#custom-hotbar .macro{
	flex: 0 0 55px !important;
	height: 55px !important;
	width: 55px !important;
	margin: 1px !important;
}

#custom-hotbar #custom-macro-list{
	flex: 0 0 752px !important;
	border: 0px solid blue !important;
	width: 65px !important;
	max-width: 65px !important;
	margin: 1px;
	flex-direction: column;
}

#custom-hotbar img{
	width: 100% !important;
	border: unset !important;
	border-radius: 20px !important;
}

#custom-hotbar .macro{
	border-radius: 20px !important;
}

#custom-hotbar-directory-controls{
	display: none;
}

#custom-action-bar{
	background: var(--primary-fade50);
	max-width: 70px;
	padding: 4px;
	border: 1px solid var(--tertiary);
	border-radius: 10px;
}

.compendium .directory-list .directory-item{
	background-color: lightgray !important;
	color: black !important;
}

