

ol.directory-list{
	background-color: var(--grey-fade20);
} 

.window-app .window-content{
	background: black;
	color: white;
}

form button{
	background: black;
	color: white;
}

button.dialog-button{
	background: grey;
	color: white;
}

p.notes{
	color: white;
}