

ol.directory-list{
	background-color: var(--grey-fade20);
} 

.window-app .window-content{
	background: black;
	color: white;
}

form button{
	background: black;
	color: white;
}

button.dialog-button{
	background: grey;
	color: white;
}

p.notes{
	color: white;
}

input[type="text"] , select{
	width: 2em;
	height: 2em;

	text-align: center;

	border-radius: 5px;
	border: 1px solid var(--secondary);

	transition: var(--animation); 

	color: white;
}

input[type="text"]:focus , select:focus{
	outline:none;
	border-radius: 10px;

	background-color: var(--selected);

	box-shadow: 
		2px 3px 5px var(--tertiary),
		1px 1px 2px var(--tertiary);
	border: 1px solid var(--tertiary);
}

textarea{/* Defaults for UI to better deal with black background */
	color: white;
	border: 1px solid var(--primary);
	border-radius: 5px;
}

.journal-sheet form input{
	width: 100%;
	text-align: left;
}

/* Removes the 'remove' button from macro list to make it at least a bit cleaner to handle macro/creation destruction */
li.macro #context-menu li.context-item:nth-child( 2 ){
	display : none;
}

/* Styling for Card Draws & custom macro bar*/
#custom-hotbar .macro{
	flex: 0 0 80px !important;
	height: 80px !important;
}

#custom-hotbar #custom-macro-list{
	flex: 0 0 802px !important;
}

#custom-hotbar img{
	width: 100% !important;
}
